@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Bree+Serif&family=Playwrite+AU+TAS:wght@100..400&display=swap');
*{margin: 0; padding: 0; box-sizing: border-box;}

a{text-decoration: none; color: inherit;}

ul, li, ol{ list-style: none;}

body{background: #fff; color: #333;}

table{border-collapse: collapse;}
/*border-cllapse = 이중선을 안하고 싶을 때 사용 */

html, body{
    font-size: 18px;
    color: #444;
    /* font-family: "Bree Serif", "돋움" , serif; */
    /* font-family: "Playwrite AU TAS", "굴림" , cursive; */
    font-family: "Assistant", "돋움" , sans-serif;
}

img{vertical-align: baseline;}